/*start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Amatic SC', cursive;
    color: #eee;
}

body{
    width: 100%;
    height: 100%;
    background: url(images/gundam2.jpg) no-repeat center fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000vh rgba(16, 137, 158, 0.5);
    
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
    text-shadow: 3px 3px rgba(14, 39, 151, 0.3);
}

img{
    width: 100%;

}
/*end global*/


/*reusabel*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 5rem;
}
.section-heading{
    text-align: center;
    margin-bottom: 10 rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: rgb(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    padding-bottom: 1rem;
    text-shadow: 3px 3px rgba(14, 39, 151, 0.3);
}

.section-heading h6{
    font-size: 2.6rem;
    font-weight: 300;   
    text-shadow: 3px 3px rgba(14, 39, 151, 0.3); 
}
.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*resusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh;
    padding-bottom: 3rem;
    
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: rgb(52, 5, 95);
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 2rem;
}

.nav-link{
    font-family: 'Pacifico', cursive; sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg)
}

.bar{
    background: linear-gradient(to right, #ffe838, #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end{
    transform: rotate(450deg) translateX(-1.7rem);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    text-shadow: 3px 3px rgba(14, 39, 151, 0.3);
}
.landing-text h1{
    font-size: 12rem;
    font-family: 'Pacifico', cursive, sans-serif;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.landing-text h6{
    font-size: 5rem;
    font-weight: 700;
}
/*end header*/

/* about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
    
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: 3;
}
.about-heading h6{
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 6rem;
}
.about-details p{
    font-size: 3rem;
    font-weight: 600;
}
.profile-img{
    flex: 1;
    margin-right: 5rem;
    margin-left: 5rem;
    
}
.profile-img img{
    border-radius: 30%;
}
.about-details{
    flex: 1;
}
.social-media{
    margin-top: 5rem;
}
.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}
.fa-facebook-square:hover{
    color: #4267b2;
}
.fa-twitter-square:hover{
    color: #3090C4;
}
.fa-linkedin:hover{
    color: #0077B5;
}
/* end about*/

/* skills*/
.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.skills h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}
.section-heading p{
    font-size: 3rem;
    font-weight: 600;
}
.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px soldid #ffe838;
    background-color: bisque;
    margin-bottom: 4px;
    display: flex;
}
.icon-container i{
    color:#1d1ad6;
    font-size: 5rem;
    margin: auto;
}
/* end skills*/

/* portfolio*/
.portfolio-item{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.portfolio-item:last-child{
    margin-bottom: 0;
}
.portfolio-description{
    padding-right: 10px;
}

.portfolio-image{
    width: 50rem;
    flex: 1;
    padding: 3rem;
}
.portfolio-description h1{
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 6px;
    padding-bottom: 6px;
}
.portfolio-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}
.portfolio-description .cta{
    display: inline-block;
    font-size: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;

}
/* end portfolio*/

/* contact*/
.contact{

}
form{
    width: 70%;
    margin: 0 auto;
}
form label{
    font-size: 1.5rem;
}

input,textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
}

input[type="submit"]{
    width: initial;
}
/* end contact*/

/* footer*/
.copyright{
    display: flex;
    width: 100%;
    align-items: center;
    height: 3rem;
    background-color: rgb(14, 112, 151, 0.4);
    
}
.copyright p{
    font-size: 1.5rem;
    padding: 2px;

}
/* end footer*/